@import './base.css';
body {
  overflow: hidden;
  /* background-color: white; */
}

.chighlight {
  color: #f37bb7	;
  background-color: transparent;
}

.treeTitle {
  display: flex;

  .treeBtn {
    display: none;
  }
}

.treeTitle:hover {
  .treeBtn {
    display: flex;
  }
}

.cellHover {
  position: relative;
  white-space: nowrap;
  height: 20px;
}

.cellHover:hover .cellPlus {
  display: inline-block;
  position: absolute;
  /* size: 20; */
  width: 10;
  height: 10;
  right: 0;
  cursor: pointer;
  /* background-color: rgba(rgb(224, 13, 13), green, blue, 0.5); */
}

.cellPlus {
  display: none;
}

/* table {
  table-layout: fixed;
} */
